@import "ember-cli-bootstrap-4/bootstrap";

@import "ember-bootstrap/bootstrap";

@import "ember-bootstrap/bootstrap";

//Additional style

body#main {
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*home jumbotron*/
    .home .jumbotron {
        background-repeat: no-repeat;
        background-image: url(../assets/images/alaska.jpg);
        background-position: 0 70%;
        min-height: 500px;
        margin-bottom: 35px;
        position: relative;
        border-bottom: 10px solid #69656518;
        padding-bottom: 0;
        background-size: 100%;
        background-blend-mode: luminosity;
        
    }
.home .jumbotron:hover{
        background-blend-mode: darken;
    }
#home-header div{
    padding: 181px 420px 0 0;
}
#home-header  h1{
	color: #f4c60d;
	text-shadow: 0px 1px rgb(0,0,0);
	line-height: 1;
	word-break: keep-all;
	width: 53%;
	padding-left: 36px;
	margin: 0;
}
#home-header h1:first-child {
    font-size: 31px;
    font-family: openSans-Light;

}
#home-header h1:nth-child(2){
    font-size: 56px;
    padding-top: 9px;
    font-weight: 700;

}
span#borderHome {
    border-bottom: 3px solid #f4c60d;
	position: absolute;
	top: 0;
	bottom: -8px;
	 width: 360px;
    left: 37px;
}
span.highlight {
    color: #ff0000bf;
}

#home-header h1:nth-child(3){
    font-size: 23px;
	padding-top: 40px;
	margin-bottom: 0;
    font-family: openSans-Light;
    font-weight: 400;
}


nav#home-nav {
    margin-bottom: 20px;
    position: relative;
    min-height: 485px;
	font-size: 14px;
}

nav#home-nav ul {
    list-style: none;
    padding: 0;
	line-height: 1.2;
}

div#home-nav-main {
    min-height: 485px;
    z-index: 2;
    position: absolute;
    min-width: 30%;	
}
div#home-nav-main ul li a {
    color: #FFF;
}
div#home-nav-main ul li:hover {
    color: #f15b46;
    text-decoration: none;
}
div#home-nav-main ul li {
    margin: 45px 0px 0px 10px;
    font-weight: 600;    
    max-width: 30%;
}

div#home-nav-sub {
    min-height: 485px;
    z-index: 1;
    position: absolute;
    right: -15px;
	min-width: 803px;
}
div#desc2, div#desc3, div#desc4 {
  display: none;
}
// Images for descriptions
#home-nav-sub h2 {
    background-repeat: no-repeat;
    background-position: 0 40%;
    min-height: 500px;
    margin-bottom: 35px;
    background-size: 100%;
    color: yellow;
    font-size: 8em;
}
#colombia {
    background-image: url(../assets/images/colombia.jpg);
 
}
#alaska {
    background-image: url(../assets/images/alaska2.jpg);
 
}
#ireland {
    background-image: url(../assets/images/ireland.jpg);

}
#germany {
    background-image: url(../assets/images/germany.jpg);
 
}
#austria {
    background-image: url(../assets/images/austria.jpg);
 
}
h2#atticus {
    background-image: url(../assets/images/atticus.jpg);
    color: #10d1108c;
    font-size: 8em;
    background-size: 60%;
}
#home-nav-sub ul li {
    line-height: 2;
}

div#home-nav-sub p {
	line-height: 1.2;
	font-weight: 400;
	font-size:14px;
}
div#home-nav-sub p a, {
	line-height: 2;
	text-transform: lowercase;
	color: #f4c60d;
}
#home-nav-sub ul li a,div#home-nav-sub p, #home-nav-sub ul li {
font-family: monospace;
text-transform: uppercase;
}    

/*Main Content */

#main h5 {
    font-size: 1rem;
}
.mainContent p {
	font-size: 14px;
	margin-top: 30px;
	color: #4f5356;
	font-weight: 600;
	font-family: openSans-Regular;
}

.active{
  display:block;
}

@media screen and (max-width: 1280px) {

    .mainContent h2 {
        font-size: 43px;
    }
}

 @media screen and (max-width: 980px) {

        nav#home-nav {
        font-size: 26px;
        }
        #home-header div {
        padding: 120px 0 0px 0;
    }
        div#home-nav-sub p {

        font-size: 14px;
    }

    div#home-nav-main {
        background-size: 400px 485px;
    }

    .mainContent h2 {
        font-size: 27px;
    }
    .mainContent h3 {
        padding: 0;
    }
    nav#home-nav ul {
        font-size: 12px;
    }
    #home-nav-sub h2 {
        background-repeat: no-repeat;
        min-height: 500px;
        margin-bottom: 35px;
        background-size: 50%;
        font-size: 3em;
    }
    div#initialDesc, div#desc2, div#desc3, div#desc4 {
        width: 50%;
        margin-top: 0;
    }

}
@media screen and (max-width: 768px) {
	#home-header div {
    padding: 0;
    }
    span#borderHome {
        border-bottom: none;
    }

    .home .jumbotron {
        min-height: 0;
        position: initial;
        padding-bottom: 0;
    }
    .jumbotron {
        padding: 0;
        color: inherit;
        background-color: transparent;
    }
        #home-header h1:nth-child(3) {
        padding: 30px 100px 0 36px;
    }
        div#home-nav-sub {
        z-index: 1;
    }
        div#home-nav-main {
        z-index: 2;
        max-width: 0;
        background-size: 445px 485px;
    }
    div#initialDesc, div#desc2, div#desc3, div#desc4 {
        width: 50%;
        margin-top: 250px;
    }
    #home-nav-sub h2 {
        background-repeat: no-repeat;
        background-position: 0px 0;
        min-height: 400px;
        margin-bottom: 22px;
        background-size: 100%;
        font-size: 56px;
    }

}

@media screen and (max-width: 360px) {
    div#home-nav-sub {
        min-height: 0;
        
        }
        nav#subnav{
            min-width: 352px;
        }
    nav#home-nav ul {
        padding: 15px;
        }
    nav#home-nav {
        margin-bottom: 0;
        }
    
    .container {
        padding: 0;
        margin: 0;
    }

    #home-header div {
        padding: 0;
    }

    .home .jumbotron {
        min-height: 0;
        margin: 0;
        position: initial;
        padding-bottom: 0;
    }
    .jumbotron {
        padding: 0;
        color: inherit;
        background-color: transparent;
    }
    div#home-nav-main {
        min-height: 0;
        z-index: 0;
        position: inherit;
        min-width: 0;
    }

    span#borderHome {
        border-bottom: none;
        top: 0;
    }
    nav#subnav, #home-nav, div#home-nav-main {
        min-height: 40px;
    }

        
    div#home-nav-main ul li {
        margin: 15px 0;
        font-weight: 600;
        max-width: 100%;
    }


    #home-header h1:nth-child(2) {
        font-size: 26px;
        font-weight: 600;
        padding: 10px 22px;
    }
    .mainContent h2 {
        font-size: 14px;
    }

    .mainContent h2:nth-child(2) {
        margin: 0;
    }
    div.title {
        width:100%;
    }
    .mainContent h3, #news-events h3 {
        font-size:20px
    } 
    .mainContent h4 ,
    .mainContent h5,  
    nav#home-nav{
        font-size: 18px;
    }

    .mainContent p {
        margin-top: 0;
    }


}
