<div class="container">	

			<!-- nav -->
			<nav ID="home-nav" class="nav row" role="navigation">				
				<div id="home-nav-main" class="col-xs-12 col-sm-6 col-md-6  text-uppercase">
					nav	
                    <ul>
                        <li id="test">Test</li>
                    </ul>				
				</div>
				<div id="home-nav-sub" class="col-xs-12 col-sm-6 col-md-6 text-right"> 
					<div id="initialDesc" class="col-xs-12 col-sm-12 col-md-12 pull-right">
						intial desc						
						<div class=" col-xs-12 col-sm-12 col-md-12 text-lowercase">
							some kind of menu	
						</div>
					</div>	
					<div id="desc2" class="col-xs-12 col-sm-12 col-md-12 pull-right">
						
							desc1
								
					</div>
					<div id="desc3" class="col-xs-12 col-sm-12 col-md-12 pull-right">				
						desc2
					</div>
					<div id="desc4" class="col-xs-12 col-sm-12 col-md-12 pull-right">		
						desc 3			
					</div>					
				</div>
				
			
			</nav>
	
			<!-- /nav -->
			<!-- Section -->			
			<!-- /section -->
		</div>	
		<!-- /wrapper -->	
<section class="about">
    <article class="row">
        <div class="col-sm-6 berlin">        
        </div>
        <div class="col-sm-6">
            <p>I'm Amber Nichole Rutherford. 
                I grew up never knowing exactly what 
                i wanted to be. I started out wanting to be
                 an architect, later an earth scienctist. Science 
                 is still one of my favorite subjects. 
                 I ended up going into finance as a major, thinking that was the 
                 correct path, 
                 but it was terrible; so now I'm here, 
                 a Software Engineer. 
                 
                 <em>I love everything about it.</em> 
            </p>     
        </div>
    </article>
{{outlet}}

</section>
<script>
jQuery(document).ready(function($) {
	
	$(function () {
		
		// DOM ready, take it away
		$('.tabbed-content .tab').hide();
		var currenttab = $('.tabs ul li a').first().attr('rel');
		$('#'+currenttab+'-link').addClass('activeTab');
		var clickedtab = '';
		$('#'+currenttab).show();
		//$('.tabbed-content .tab').first().show();
		$('.tabs a').click(function() {
		  clickedtab = $(this).attr('rel');
		
		  if (clickedtab != currenttab) {
			  $('#'+currenttab+'-link').removeClass('activeTab');
			  $('#'+currenttab).hide();
			  currenttab = clickedtab;
			  $('#'+currenttab+'-link').addClass('activeTab');
			  $('#'+currenttab).fadeIn('normal');
			  //$('.tabbed-content .tab').hide();
			  //console.log(tab);
		  }
		});		
		
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });	

  
$(' .tabbed-content').on('click','a.externalLink', function(e) {
			   var url = $(this).attr('href');
			   window.open(url); return false;
	});

function getSelectedTabId(){
    return $("#tabs .ui-tabs-panel:visible").attr("id");
}
/* Hover Descriptions */
$("#test").hover(function() {
    $("#initialDesc").show();
	$("#desc2").hide();
	$("#desc3").hide();
	$("#desc4").hide();
	

});

$("#menu-item-45").hover(function() {
    $("#desc2").show();
	$("#initialDesc").hide();
	$("#desc3").hide();
	$("#desc4").hide();
});
$("#menu-item-44").hover(function() {
    $("#desc3").show();
	$("#initialDesc").hide();
	$("#desc2").hide();
	$("#desc4").hide();
});
$("#menu-item-43").hover(function() {
    $("#desc4").show();
	$("#initialDesc").hide();
	$("#desc3").hide();
	$("#desc2").hide();
});
/*Slider Content Show/Hide Function */
 $(".bxslider a").click(function () {
	 
	 var num = $(this).attr('href');
						
        $(num).addClass('active');      
    				$(num).addClass('active').siblings().removeClass('active');
		
    });
	
	});
	
});
</script>
